html, body, #root, .App {
  min-height: 100vh;
  width: 98vw;
}
.Nav, .Main {
  float: left;
  box-sizing: border-box;
  padding: 2em;
}
.Main {
  width: 73vw;
  min-height: 100vh;
  margin-left: 25vw;
}
.Nav {
  width: 25vw;
  min-height: 100vh;
  background-color: grey;
  position: fixed;
}
.Nav ul {
  list-style-type: none;
}
.Nav a {
  color: white;
  text-decoration: none;
  width: 100%;
}
#mobile-nav, #mobile-nav-items {
  display: none;
}
.listItem {
  list-style-type: none;
  hr {
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  html, body, #root, #app {
    width: 100vw;
  }
  .Nav, .Main {
    width: 100%;
    padding: 1em;
  }
  .Nav {
    min-height: 10vh;
    height: 10vh;
  }
  .Main {
    min-height: 90vh;
    clear: both;
    margin: 0;
  }
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    display: block;
  }
}
@media (max-width: 600px) and (orientation: landscape) {
  .Nav, .Main {
    padding: 1em;
  }
  .Nav {

  }
  .Main {

  }
  div#app.App nav#nav-container.Nav #mobile-nav-items {
    display: none;
  }
}
